h1 {
    background-color: black;
    color: aqua;
    text-align: left;
}
h2 {
    background-color: purple;
    text-align: center;
    color: white;
    font-style: italic;
    
}
h3{
background-color: blue;
color: black;
text-decoration: underline;
text-align: right;
}
.my {
    color: white;
}
.cloud {
    color:aqua ;
}