.search, .plus, .account {
    display: block;
    margin: bottom 10px;
    height: 40px;
}
.search {
    background-color: #ffff;
    color:#7dc8c8;
    font-weight:900 ;
    width: 80px;
    border:  solid #7dc8c8;
    border-radius: 20px;
}
.plus{
    width:20px;
    background-color: #00d1b2 ;
    color:#ffff;
    border-radius: 50%

}
.account{
    width: 100px;
    background-color: #2b78e4b2;
    color: #fff;
    border:3px  solid black;
}